@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: #ffffff;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

